{% comment %}
  Zweizeilige Beschriftung für die Warenkorb-Hinweise.
{% endcomment %}
<span class="freilaender-cart-note-label">
  <span class="freilaender-cart-note-label__title">{{ 'sections.cart.note_title' | t }}</span>
  <span class="freilaender-cart-note-label__hint">{{ 'sections.cart.note_hint' | t }}</span>
</span>
