{% comment %}
  Zweizeilige Beschriftung für das Wunschlieferdatum-Accordion.
{% endcomment %}
<span class="freilaender-cart-delivery-label">
  <span class="freilaender-cart-delivery-label__title">{{ 'sections.cart.delivery_title' | t }}</span>
  <span class="freilaender-cart-delivery-label__hint">{{ 'sections.cart.delivery_hint' | t }}</span>
</span>
